<?xml version="1.0"?>
<model>
  <name>m_casual_mic</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>PX4 Team</name>
    <email>dev@px4.io</email>
  </author>
  <description>
    Casual male character with microphone/headset and animations
  </description>
</model>
